<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"
        tools:ignore="HighSamplingRate" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".taskDatabase.TaskAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileDevCA_TaskApp"
        tools:targetApi="31">
        <activity
            android:name=".common.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <receiver android:name=".broadcast_receivers.HabitResetReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:name=".broadcast_receivers.HabitStepCountReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast_receivers.NotificationReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="STOP_FOREGROUND_SERVICE"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".services.StepCounterService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="health"
            android:attributionTags="@string/stepCounterSensor"
            android:permission="ACTIVITY_RECOGNITION"
            />

        <activity
            android:name=".HabitsActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".ScheduleActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".TasksActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>